h1 {
    color: rgb(255, 102, 0);
}
img {
    width: 350px;
}
#thirdDiv {
    height: 500px;
    width: 500px;
    background-color: lightskyblue;
    padding: 50px;
    border: 2px solid black;
}
.divClass {
    margin: 10px;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}
